# Variables

### 1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
var = 4
print(var)

4

### 2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

### 3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(var))

<class 'int'>

### 4) Crear una variable que contenga tu nombre

In [4]:
name = 'Gustavo'

### 5) Crear una variable que contenga un número complejo

In [6]:
comp_num = 15 + 4j

### 6) Mostrar el tipo de dato de la variable crada en el punto 5

In [7]:
print(type(comp_num))

<class 'complex'>

### 7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [8]:
pi = 3.1416

### 8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [9]:
true1 = 'Ttrue'
true2 = True

### 9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [10]:
print(type(true1))
print(type(true2))

<class 'str'>
<class 'bool'>

### 10) Asignar a una variable, la suma de un número entero y otro decimal

In [11]:
int_float_sum = 17 + 15.6

### 11) Realizar una operación de suma de números complejos

In [16]:
(4 + 5j) + (6 + 8j)

(10+13j)

### 12) Realizar una operación de suma de un número real y otro complejo

In [17]:
15.8 + (5 + 4j)

(20.8+4j)

### 13) Realizar una operación de multiplicación

In [15]:
5 * 3

15

### 14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2**8

256

### 15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
result = 27 / 4
print(result)

6.75

### 16) De la división anterior solamente mostrar la parte entera

In [23]:
27 // 4

6

### 17) De la división de 27 entre 4 mostrar solamente el resto

In [24]:
27%4

3

### 18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [25]:
6 * 4 + 3

27

### 19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [26]:
var1 = 'hello '
var2 = 'world!'
var1 + var2

'hello world!'

### 20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [28]:
'2' == 2

False

### 21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [29]:
int('2') == 2

True

### 22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

porque python no interpreta la coma (,) como parte de un numero por lo cual no puede castearlo hacia un tipo de dato numerico. En tal caso hay que usar el punto (.)

### 23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [31]:
three = 3
three -= 2
three

1

### 24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [32]:
1 << 2

4

En el sistema binario cada posicion de derecha a izquierda indica una potencia de 2. El operador left shift desplaza el operador de la izquierda tantos espacios como indique el operador de la derecha, lo cual seria lo mismo que elevarlo a una cierta potencia del numero 2. En el caso que vemos arriba, 1 << 2 es lo mismo que decir (1 * 2^2) = 4

### 25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [33]:
2 + '2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Uno es de tipo numerico mientras que el otro es de tipo string, para que la operacion tenga efecto deben ser ambos del mismo tipo y de esa manera se pueda efectuar una suma o una concatenacion segun sea el caso.

### 26) Realizar una operación válida entre valores de tipo entero y string

In [35]:
'hola '*3

'hola hola hola '